[submodule "qtbase"]
	path = qtbase
	url = ../qtbase.git
	branch = 5.9.8
	status = essential
[submodule "qtsvg"]
	depends = qtbase
	path = qtsvg
	url = ../qtsvg.git
	branch = 5.9.8
	status = addon
[submodule "qttools"]
	depends = qtbase
	path = qttools
	url = ../qttools.git
	branch = 5.9.8
	status = addon
[submodule "qttranslations"]
	depends = qttools
	path = qttranslations
	url = ../qttranslations.git
	branch = 5.9.8
	status = addon
