[Desktop Entry]
Encoding=UTF-8
Name=Navcoin
Comment=Navcoin P2P Cryptocurrency
Comment[fr]=Navcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Navcoin, eşten eşe kriptografik sanal para birimi
Exec=navcoin-qt %u
Terminal=false
Type=Application
Icon=navcoin128
MimeType=x-scheme-handler/navcoin;
Categories=Office;Finance;
